<header class='header'>
  <h1 class="logo">コンコン★こんだて</h1>
  <ul class='lists-right'>
    <li><%= link_to '登録済み料理一覧', dishes_path, class: "user-name" %></li>
    <li><%= link_to current_user.name, "#", class: "user-name" %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout"%> </li>
  </ul>
</header>