<h3>登録済み　料理名一覧</h3>
<%= link_to "新規登録する", new_dish_path, class:"post" %>

<div class="contents">
  <div class="cat_content">炒め・焼き</div>
    <% @cat2.each do |dish| %>
      <ul class="dish">
        <li class="dish-name">
          <%= dish.dish %>
        </li>
      </ul>
  <% end %>
</div>