/* dish_index */
h3{
  text-align: center;
}

.post{
  display: block;
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.contents{
  display: flex;
  /* justify-content: center; */

}

.content{
  height: 300px;
  width: 300px;
  border-radius: 30px;
  border: 2px solid black;
  margin: 50px;
  padding: 10px;
  -ms-overflow-style: none;
    scrollbar-width: none;
}

.text_box{
  padding: 10px;
}

.cat_title{
  font-family: "游ゴシック", "YuGothic";
  font-weight: bold;
}



.cat2{
  background-color: #ff6347;
}
.cat3{
  background-color: #fce45e;
}
.cat4{
  background-color: #32cd32;
}
.cat5{
  background-color: #9470db;
}
.cat6{
  background-color: #ee81ee;
}
.cat7{
  background-color: #da6c4e;
}

/* dish_new */

.dish-box {
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  height: 30px;
  width: 300px;
  margin: 20px;
}

.text {
  height: 100px;
  width: 300px;
  resize:none;
  margin-bottom: 20px;
}

.category-select{
  height: 30px;
  width: 250px;
}

.btn {
  width: 200px;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
  background-color: orange;
  color: white;
}